<app-header-admin></app-header-admin>
<div class="col-6">
    <h4 class="text-secondary"> <i class="bi bi-bookmarks-fill"></i> statistiques</h4>
  </div>
<div class="main-content">
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <h1 class="mb-5 text-white"><i class="bi bi-bookmarks-fill"></i>statistiques</h1>
        <hr /> 
        <div class="header-body">
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total d'utilisateur</h5>
                      <span class="h2 font-weight-bold mb-0">{{c}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">depuis le mois dernier</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">prix d'utilisateur</h5>
                      <span class="h2 font-weight-bold mb-0">225</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-award"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                    <span class="text-nowrap">depuis la semaine dernière</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Revenue total</h5>
                      <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-chart-line"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">depuis hier</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Solde total</h5>
                      <span class="h2 font-weight-bold mb-0">256633258</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-dollar-sign"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">depuis le mois dernier</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container ">
    <div class="row positionCharts">
      <div class="col-sm">
        <div class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
      </div>
      <div class="col-sm">
        <div class="chart-wrapper">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
        </div>   
          
      </div>
      <div class="col-sm">
        <div class="chart-wrapper">
            <canvas baseChart 
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas>
        </div>
      </div>
    </div>

    <table class="table table-bordered mt-5">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th>Nom utilisateur</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients;index as i">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ client.user.username }}</td>
              <td>{{ client.user.email }}</td>
              <td><select #select class="form-select" aria-label="Default select example" (change)="onChange(select.value,client.user._id)">
                <option selected>{{ client.user.role}}</option>
                <option  *ngIf="client.user.role!='Admin' " value="Admin">Admin</option>
                <option *ngIf="client.user.role!='Partenaire' " value="Partenaire">Partenaire</option>
                <option  *ngIf="client.user.role!='Client'" value="Client">Client</option>
              </select></td>
              <td>
                <a title="Activer" *ngIf="client.user.active == 0" (click)="activeUser(client.user._id)" class="btn btn-success me-2"><i class="bi bi-check-circle-fill"></i> </a>
                <a title="Desactiver" *ngIf="client.user.active == 1" (click)="activeUser(client.user._id)" class="btn btn-warning me-2 text-white">
                  <i class="bi bi-x-circle-fill"></i> </a>
                <a  (click)="DeleteUser(client.user._id)" class="btn btn-danger"><i class="bi bi-trash"></i> </a>
              </td>
            </tr>
            
          </tbody>
      </table>
  </div>


       




    

     