<app-navbarc></app-navbarc>

  <div class="container p-5 m-5">
      <h4 class="text-center text-secondary"> <i class="bi bi-credit-card-2-front"></i> Liste des evenements</h4>
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control " (keyup)="serachEvent($event)" placeholder="Evenement a chercher ...">
            
            </div>
            <p class="btn btn-primary">
              <i class="fas fa-search"></i>
            </p>
        </div>
        </div>
      <div class="col-sm-4">
      <select class="form-select" width="100" aria-label="Default select example">
        <option selected>Choisie une catégorie</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </div>
     
  </div>
      <div class="col-12 row p-3">
        <div class="col-3" *ngFor="let e of events">
          <div class="card" >
            <div class="card-header">
                  <h6> {{ e.date | date }}</h6>
            </div>
            <div class="card-body">
              <img src="http://127.0.0.1:8000/uploadsFolder/{{e.image}}" width="180" height="300" >
              <h6> {{ e.nom }}  </h6>
                <h5><span class="badge bg-danger"> {{ e.prix }} DT </span></h5>
                <p >{{ e.description | slice:0:100 }} ...</p>
                <div class="row">
                  <div class="col-sm-6"><button class="btn btn-success" (click)="searchEventByID(e._id,Payement)">Reserver</button>
                  </div>
                  <div class="col-sm-3"><a (click)="searchEventByID(e._id,Show)" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a></div>
                 </div>
            </div>
          </div>
        </div>
      </div>
     
    


  </div>

  <ng-template #Payement let-modal >
    <form #PayementForm="ngForm"  (ngSubmit)="pay(oneEvents._id,oneEvents.prix,PayementForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Resérvation ticket</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
        <div class="form-group">
          <label for="dateOfBirth">Evénement: </label>
          <h6>{{oneEvents.nom}}</h6>
          
        </div>
        <img src="http://127.0.0.1:8000/uploadsFolder/{{oneEvents.image}}"  class="img-fluid mb-2">
        <div class="form-group">
          <label for="dateOfBirth">categerie: </label>
          <h6>{{oneEvents.categerie.nom}}</h6>
          
        </div>
        
        <div class="form-group">
          <label for="dateOfBirth">Prix:</label>
          <h6>{{oneEvents.prix}} DT</h6>
          
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Nombre de tickets:</label>
          <input  type="number" name="nbrTicket"  [ngModel]="1" class="form-control" (change)="doSomething($event,oneEvents._id)">
 
          
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Total à payée:</label>
          
          <h6>{{oneEvents.prix}} DT</h6>
 
          
        </div>
        
        
       

      
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" >Reserver</button>
    </div>
  </form>
  </ng-template>



  <ng-template #Show let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{oneEvents.nom}}  <h5><span class="badge bg-danger"> {{ oneEvents.prix }} DT </span></h5></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
       
      <iframe width="470" height="415" [src]="urlSafe" frameborder="0"  allowfullscreen></iframe>
      
      
          <b>Déscription: </b>  
          <h6>{{oneEvents.description}}</h6>
    

      
      
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark"  (click)="searchEventByID(oneEvents._id,Payement)">Reserver</button>
    </div>
 
  </ng-template>